body {
    
    background-color:black;
    background-repeat: no-repeat; 
    background-attachment:fixed; 
    background-size:contain;
    background-image:url("");
    background-position: center
}

body{
     text-align: center;
}
h1 {
    color: red;
    text-align:50,50;
    
}

p {
    font-family: verdana;
    font-size: 20px;
}

