.menu {
    font-family: monospace;
    font-size: 30px;
    position: sticky;
    top: 0px;
    left:0px;
    width: 100%;
    opacity: .7;
    transition-duration: .5s;
    z-index: 5;
}

/*tool menu hover*/
.menu:hover {
    opacity: 1;
    transition-duration: .5s;
    background-color: #444;
}

/*tool menu on page*/
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    transition-duration: .5s;
}

/*list of the left*/
.menu li {
    float: left;
    transition-duration: .5s;
}
/*list of the right*/
.menu li right {
    margin-left: 30px;
    float: right;
    transition-duration: .5s;

}

.menu li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
    transition-duration: .5s;
}

.menu li a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    transition-duration: .5s;
}

/*drop down shape*/
.menu li.dropdown {
    display: inline-block;
    transition-duration: .5s;
}

/*drop down content*/
.menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #555;
    min-width: 160px;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition-duration: .5s;
}

.menu .dropdown-content a {
    color: whitesmoke;
    padding: 11px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition-duration: .5s;
}

.menu .dropdown-content a:hover {
    background-color: #333;
    display: block;
    transition-duration: .5s;
}

.menu .dropdown:hover .dropdown-content {
    display: block;
    transition-duration: .5s;
}